<style type="text/css">
		.blocktext {
    			margin-left: auto;
    			margin-right: auto
		}
		.thatcher {
		    overflow: hidden;
		}
		.thatcher img {
			width: 100%;
			max-width: 259px;
			border-radius: 50%;
			display: block;
			margin: 0 auto 1.5em;
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-ms-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;	
		}
		.thatcher img:hover {
			-moz-transform: rotate(540deg);
			-webkit-transform: rotate(540deg);
			-o-transform: rotate(540deg);
			-ms-transform: rotate(540deg);
			transform: rotate(540deg);
		}			

</style>
<div class="text-center">
<div class="blocktext" id="center">
	<div class="thatcher">
		<img src="../images/prof.jpg">
	</div>
	
		<a href="{{ SITEURL }}/pages/contact.html" class="btn btn-default">Ivan Maksimov</a>
</div>
</div>